{%  extends 'base.html' %}

{%  block content %}
<div class="container">
   <div class="p-4 m-4" >
          <div class = "col-lg-5 mx-auto border rounded border-info pt-3 ">
              <h3 class = "alert border rounded  alert-primary text-center">Create An Account</h3>
               <form action = "/signup" method="POST">
                   {% csrf_token %}
                   {% if error %}
                   <div class="alert border rounded alert-danger" role = "alert">
                       {{error}}
                   </div>
                   {% endif %}

                  <div class ="form-group  ">
                      <!--First name-->

                      <label for="first_name">First Name</label>
                      <input type="text" name="FirstName" value="{{values.first_name}}" class="form-control form-control-sm border-info" placeholder="" >

                  </div>
                   <div class ="form-group">
                      <!--last name-->

                      <label for="last_name">Last Name</label>
                      <input type="text" name="LastName" value="{{values.last_name}}"  class="form-control form-control-sm border-info " placeholder="" >
                   </div>
                   <div class ="form-group">

                      <!--email-->

                      <label for="email">Email</label>
                      <input type="email" name="Email"  value="{{values.email}}"  class="form-control form-control-sm border-info" placeholder="example@gmail.com" >
                   </div>
                   <div class ="form-group">
                       <!--password-->

                      <label for="password">Password</label>
                      <input type="Password" name="Password"  class="form-control form-control-sm border-info" placeholder="*******" >
                   </div>
                   <div class ="form-group">
                       <!--Mobile Number-->

                      <label for="phone">Phone</label>
                      <input type="text" name="Phone" value="{{values.phone}}"  class="form-control form-control-sm border-info" placeholder="1234567890" >

                 </div>
                 <div class = "form-group ">
                 <input class="btn btn-primary " type="submit" value="Create an account">
                 </div>


              </form>
          </div>
    </div>
    
</div>

{% endblock %}








